{% extends "admin/base.html" %}

{% block title %}
    JamiiBot &mdash Gestion de crise
{% endblock %}


{% block stylesheets %}
    {{ super() }}

   <style>
        #searchBoxAutoComplete .list-group-item{
            cursor: pointer;
        }
   </style>
{% endblock %}



{% block modals %}
    <!-- Modal insertion -->
    <form action="{{ url_for('admin.crisis_operator_save') }}" method="POST" class="modal fade" id="modal-insert" role="dialog"  data-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ajouter conseiller clientèle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="searchBoxAutoCompleteTarget" class="form-group"></div>

                    <div class="form-group" style="position:relative">
                        <label for="searchBox">Recherche:</label>
                        <input autocomplete="off" type="text" class="form-control" id="searchBox" placeholder="Saisir le nom...">

                        <div id="searchBoxAutoComplete" class="main-card card ajax-completion border border-top-0 search-dropdown" style="position:absolute;top:100%;left:0;right:0;z-index:2;background:#fff">
                            <ul class="list-group list-group-flush"></ul>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dark">Enregistrer</button>
                </div>
            </div>
        </div>
    </form>


    <!-- Modal suppression -->
    <form action="{{ url_for('admin.crisis_operator_delete') }}" method="POST" class="modal fade" id="modal-remove" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">confirmation...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                   <h6>Voulez-vous vraiment revoquer « <span class="username"></span> » comme conseiller clientèle ?</h6>
                   <input type="hidden" name="operator_id">
                </div>

                <div class="modal-footer">
                    <button data-dismiss="modal" type="submit" class="btn btn-dark">Non</button>
                    <button type="submit" class="btn btn-dark">Oui</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}


{% block body %}



<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>
                    Conseillers clientèle
                    <div class="page-title-subheading">
                    	ils prennent des conversations live sous forme de ticket
                    </div>
                </div>
            </div>

            <div class="page-title-actions">
                
                <button type="button" class="btn-shadow mr-3 btn btn-dark" data-toggle="modal" data-target="#modal-insert">
                    <i class="fa fa-plus"></i> nouveau conseiller clientèle
                </button>
            </div>
        </div>
    </div>
    
    {% for category,message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{category}}">
            <i class="fa fa-{{ 'info-circle' if category == 'info' else 'exclamation-triangle' }}"></i>
            {{ message }}
            
        </div>
    {% endfor %}
    


    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Tout les opérateurs</h5>
            <table class="mb-0 table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom d'utilisateur</th>
                        <th data-toggle="tooltip" data-placement="left" title="" data-original-title="capacité de l'operateur à ce voir proposer un ticket">Disponible <i class="fa fa-info-circle"></i></th>
                        <th>Indisponible à partir...</th>
                        <th>Tickets</th>
                        <th>Ajouté le...</th>
                        <th>Heure</th>


                    </tr>
                </thead>

                <tbody>
                    {% for el in data %}
                        <tr data-ref="{{ el._id }}">
                            <th scope="row">
                                 <a class="data-item" href="">
                                    <i class="metismenu-icon pe-7s-trash"></i>
                                </a>
                            </th>
                            <td class="username">
                                <a href="">
                                    {{ el.user.last_name }} {{ el.user.first_name }}
                                </a>  
                            </td>

                            <td>
                                <span class="badge badge-primary">
                                    {{ 'Oui' if el.is_available_for_ticket == True else 'Non'}}
                                </span>
                            </td>

                             <td>
                                {{ el.availablility_date.strftime("%d %b %Y à %H:%M")}}
                            </td>

                            <td>
                                <span class="badge badge-primary">
                                    {{ el.tickets if el.tickets else 0 }}
                                </span>
                            </td>

                           

                            <td>
                                {{ el.create_at.strftime("%d %b %Y")}}
                            </td>

                            <td>
                                {{ el.create_at.strftime("%H:%M")}}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">
                                <div class="alert alert-dark fade show">
                                    Il n'y a aucun opérateur enregistré pour le moment.
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ super() }}

    <script src="{{ url_for('static', filename='JamiiBot.js') }}"></script>

    <script>

        jQuery(document).ready(function($){

            // gestion de d'autocompletion
            var input = $("#searchBox");
            var dropdown = $("#searchBoxAutoComplete");
            var container_target = $("#searchBoxAutoCompleteTarget");

            var autoComplete = new JamiiBot.AutoComplete(input,dropdown);
            autoComplete.init({
                endpoint:"operators/search",
                ondata:function(data){

                    var container = dropdown.find("ul:first").html('');

                    for (let el of data){


                        let item = $('<li data-ref="'+el._id+'" class="list-group-item">\
                            <div class="widget-content p-0">\
                                <div class="widget-content-wrapper">\
                                    <div class="widget-content-left mr-3">\
                                        <img class="rounded-circle" src="'+el.profile_pic+'" alt="" width="42">\
                                    </div>\
                                    <div class="widget-content-left">\
                                        <div class="widget-heading">'+el.first_name+" "+el.last_name+'</div>\
                                        <div class="widget-subheading">Utilisateur Facebook</div>\
                                    </div>\
                                </div>\
                            </div>\
                        </li>');

                        item.on({
                            click:(e)=>{

                                if(container_target.find("[data-ref="+el._id+"]").length){
                                    return;
                                }

                               let tem = $('<div data-ref="'+el._id+'" class="mb-2 mr-2 badge badge-dark">\
                                    '+el.first_name+" "+el.last_name+'&nbsp;&nbsp;\
                                    <input type="hidden" name="user_ids" value="'+el._id+'">\
                                    <a href="">\
                                        <i class="fa fa-times text-danger"></i>\
                                    </a>\
                                </div>');

                               tem.find('a').on({
                                    click:function(e){
                                        e.preventDefault();
                                        tem.remove();
                                    }
                                })


                                container_target.append(tem)
                            }
                        })
                        container.append(item);
                    }
                }
            });

            // gestion des suppression d'operateurs
            // on fait une delegation d'evenement pour tout
            // les bouton qui ont une classe = data-item
            // 
            var modalInsert = $('#modal-insert');
            var modalRemove = $('#modal-remove');
            
            modalInsert.on('show.bs.modal', function () {
                setTimeout(function(){
                    modalInsert.find('input[type=text]').trigger("focus")

                },500);
            })


            $("body").on("click",".data-item",function(e){
                e.preventDefault();
                var tr = $(this).parents("tr:first");

                modalRemove.find("input[type=hidden]").val(tr.data('ref'))
                modalRemove.find("span.username").html(tr.find("td.username").text())
                modalRemove.modal('show');
            })
            

        });
    </script>
{% endblock %}