{% extends "admin/base.html" %}

{% block title %}
    JamiiBot &mdash; Gestion de crise
{% endblock %}

{% block stylesheets %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.8.6/venobox.min.css" integrity="sha256-bM8BrA55gwp08P/y/prufMxRmr59ygZlXj/k3qDD6/o=" crossorigin="anonymous" />

    <style>
        .vbox-overlay{
            z-index: 2000 !important;
        }
    </style>
{% endblock %}

{% block modals %}
    <!-- Modal message -->
    <div class="modal fade" id="modal-message" role="dialog"  data-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body"></div>
            </div>
        </div>
    </div>
{% endblock %}







{% block body %}
<div class="app-main__inner">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i>
                </div>
                <div>
                    Denonciations
                    <div class="page-title-subheading">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-card mb-3 card">
        <div class="card-body">
            <h5 class="card-title">Tout les denonciations</h5>
            <table class="mb-0 table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Catégorie</th>
                        <th>Description &amp; medias </th>
                        <th>Commune</th>

                        <th>Date</th>
                        <th>Heure</th>
                    </tr>
                </thead>

                <tbody>
                    {% for el in data %}
                        <tr class="data-item" data-ref="{{ el._id }}">
                            <th scope="row">
                                #{{ loop.index }}
                            </th>

                            <td>
                                <a class="tool-show-msg" href="" data-toggle="modal" data-target="#modal-message">
                                    <i class="metismenu-icon pe-7s-look"></i>
                                </a>
                            </td>

                            

                            <td>
                                 <span class="badge badge-primary">{{ el.tag.name }}</span>
                            </td>

                            <td>
                                {{ el.description|aaz_shorten(50,'suite...','class="tool-show-msg"')|safe }}

                                <div class="avatar-wrapper avatar-wrapper-overlap">
                                    {% for pj in el.media %}
                                    <div class="avatar-icon-wrapper">
                                        <div class="avatar-icon rounded">
                                            {% if pj.type == 'image' %}
                                                <a data-share="['download','facebook']" data-gall="myGallery-{{el._id}}" class="venobox" href="{{ pj.payload.url }}"><img src="{{ pj.payload.url }}" alt=""></a>
                                            {% elif pj.type == 'video' %}
                                                <a data-gall="myGallery-{{el._id}}" data-share="['download','facebook']" class="venobox" data-vbtype="iframe" data-autoplay="true" href="{{ pj.payload.url }}">
                                                    <i class="metismenu-icon pe-7s-film"></i>
                                                </a>
                                            {% elif pj.type  == 'audio' %}
                                                <a data-gall="myGallery-{{el._id}}" data-share="['download','facebook']" class="venobox" data-vbtype="iframe" data-autoplay="true" href="{{ pj.payload.url }}">
                                                    <i class="metismenu-icon pe-7s-paperclip"></i>
                                                </a>
                                            {% else %}
                                                <a data-gall="myGallery-{{el._id}}" class="venobox" data-share="['download','facebook']" href="{{ pj.payload.url }}">
                                                    <i class="metismenu-icon pe-7s-play"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </td>

                            <td>
                                <span class="badge badge-warning">
                                    <i class="fa fa-map-pin"></i> {{ el.commune.name }}
                                </span>

                            </td>

                            

                           
                            <td>
                                <small>{{ el.create_at.strftime("%d %b %Y")}}</small>
                            </td>

                            <td>
                                <small>{{ el.create_at.strftime("%H:%M")}}</small>
                            </td>

                           

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    
</div>
{% endblock %}


{% block javascripts %}
    {{ super() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/venobox/1.8.6/venobox.min.js" integrity="sha256-vRcA6HQ42C3q7wQlOYINRAMuAPpjAmdORTQ1wv/jwtk=" crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='JamiiBot.js') }}"></script>

    <script>

        jQuery(document).ready(function($){

            var modal = $('#modal-message');

            $('.venobox').venobox({
                share: [ 'download' ]
            });


            
            $("body").on("click",".tool-show-msg",function(e){
                e.preventDefault();
                var tr = $(this).parents("tr:first");
                modal.find(".modal-title").html("Ticket "+tr.find('th:first').html());

                $.ajax({
                    url:"denunciations/"+tr.data('ref'),
                    dataType:"text",
                    method:"GET",
                    success:function(data){
                        var item = $(data);
                        item.find('.venobox').venobox({
                            share: [ 'download' ]
                        });
                        modal.find(".modal-body").html(item);
                    },
                    error:function(a,b,c){
                        
                    },
                    complete:function(){
                        
                    }
                })
                modal.modal('show');
            });
        });
    </script>
{% endblock %}