<!Doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Mediathèque</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <meta name="description" content="">
        <meta name="msapplication-tap-highlight" content="no">
        
        {% block stylesheets %}
            <link href="{{ url_for('static', filename='admin/main.css') }}" rel="stylesheet">
            <link href="{{ url_for('static', filename='autocomplete.css') }}" rel="stylesheet">
        {% endblock %}


        <style>

            #all-media-content.loaded .helper{
                display: none;
            }

            .upload-area:not(.has-file) .card-footer, .upload-area:not(.has-file) .file-detail{
                display: none;
            }

            .drop-area{
                height:80vh;
                border:4px dashed #ccc;
                cursor: pointer;
            }

            .gallery-item{
               border: 2px solid transparent;
            }

            .gallery-item:hover{
                border-color: #d92550;
            }

            .gallery-item img{
                width: 100px;
                height: 100px;
            }
       </style>
    </head>

    <body style="height: 100vh;overflow: hidden;">

        <div role="tabpanel">
            <ul class="nav nav-tabs mb-0" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active text-dark" id="upload-tab" data-toggle="tab" data-target="#upload-content" role="tab" aria-controls="upload-content" aria-selected="true">
                        Charger un fichier
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" id="all-media-tab" data-toggle="tab" data-target="#all-media-content" role="tab" aria-controls="all-media-content" aria-selected="false">
                        
                        Choisir à partir de la galeries
                    </a>
                </li>

            </ul>
            
            <div class="tab-content pb-0" id="myTabContent" >

                <div class="tab-pane active fade show pt-4 upload-area" id="upload-content" role="tabpanel" aria-labelledby="upload-tab" style="height: 350px;overflow-x: hidden;overflow-y: auto;" >

                    <div  class="drop-area d-flex flex-column justify-content-center align-items-center">
                        <h3>
                            Cliquer ici pour charger un fichier
                        </h3>

                        <div class="file-detail text-center">
                            <i class="fa fa-file fa-5x"></i>
                            <h4 class="file-name"></h4>
                        </div>
                    </div>

                    <input class="d-none" type="file" name="file" accept="image/*" />
                    
                </div>
                
                <div class="tab-pane fade pt-4" id="all-media-content" role="tabpanel" aria-labelledby="all-media-tab" style="height: 350px;overflow-x: hidden;overflow-y: auto;">
                    
                    

                    <div class="helper">
                        <div class="alert alert-warning">
                            Il n'y a aucun contenu disponible
                        </div>
                    </div>
                    

                    <div class="d-flex flex-row">

                        <div class="content">
                        
                        </div>
                        

                        <div class="selection d-none border-left pl-2 ml-auto">
                            <div class="file mb-2"></div>
                            
                            <button class="btn btn-sm btn-danger delete">
                                <i class="fa fa-trash"></i> supprimer
                            </button>

                            <button class="btn btn-sm btn-primary float-right ok">
                                <i class="fa fa-check"></i> selectioner
                            </button>
                        </div>
                    </div>
                   
                </div>
            </div>
            
        </div>

        {% block javascripts %}

            <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


            <script>

                jQuery(document).ready(function($){
                    let uploadzone = $(".upload-area");
                    let input_file = uploadzone.find("input[type=file]");
                    let dropzone = uploadzone.find(".drop-area");
                    let filedetail = uploadzone.find(".file-detail");

                    let gallery_content = $("#all-media-content");
                    let selection_container = gallery_content.find(".selection")
                    let mediatheque_use_for = "file_selected"

                    input_file.on("change",function(e){
                        let file = e.target.files[0];
                        let filesize = file.size;
                        let filename = file.name;
                        uploadzone.addClass("has-file")

                        upload(file).then(data=>{

                            let reader = new FileReader();
                            gallery_content.addClass("loaded")

                            reader.addEventListener('load', function() {
                                let img = $('<a data-mime="'+data.payload.mime_type+'" data-ref="'+data.payload._id.$oid+'" href="" class="gallery-item mr-1 mb-2 d-inline-block"><img src="'+reader.result+'" /></a>');
                                $("#all-media-content .content").prepend(img);
                                $('#myTab a[data-target="#all-media-content"]').tab('show')
                            });
                            reader.readAsDataURL(file);
                        })

                        
                    })

                    dropzone.on({
                        "click":function(e){
                            input_file.click();
                        }
                    });

                    

                    $("#myTabContent").on("click", ".gallery-item",function(e){
                        e.preventDefault();

                        let obj = $(e.target)
                        let parent = obj.parent()

                        selection_container
                        .find(".file")
                        .html(obj.attr("width","200px").clone())
                        
                        selection_container
                        .removeClass("d-none")
                        .attr({
                            "data-ref":parent.attr("data-ref"),
                            "data-mime":parent.attr("data-mime"),
                        })
                    })

                    selection_container.find("button.delete").on({
                        click:function(e){
                            let _id = selection_container.attr("data-ref");

                            remove_media(_id).then(d=>{
                                 $(".gallery-item[data-ref="+_id+"]")
                                .remove()

                                selection_container
                                .addClass("d-none")
                                .removeAttr("data-ref")
                                .removeAttr("data-mime")
                            })
                        }
                    })

                    selection_container.find("button.ok").on({
                        click:function(e){
                            let _id = selection_container.attr("data-ref");
                            let mime_type = selection_container.attr("data-mime");
                            let img = $(".gallery-item[data-ref="+_id+"]").find("img");
                            selection_container
                            .addClass("d-none")
                            .removeAttr("data-ref")
                            .removeAttr("data-mime")


                            window.postMessage({
                                action:mediatheque_use_for,
                                payload:{
                                    _id:_id,
                                    url:img.attr("src"),
                                    mime_type:mime_type,
                                }
                            },window.location.origin)
                        }
                    })

                    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                        /*e.target // newly activated tab
                        e.relatedTarget // previous active tab
                        */
                        if(e.target.id == "all-media-tab"){
                            if(gallery_content.hasClass("loaded")) return;

                            load_gallery(20,0)
                            .then(data=>{
                                if(data.payload){
                                    gallery_content.find(".content").html(data.payload);
                                    gallery_content.addClass("loaded");
                                }
                            })
                        }
                    })

                    function upload(file){
                        return new Promise((resolve,reject)=>{

                            let data = new FormData();
                            data.append("file",file);

                            $.ajax({
                                type:"POST",
                                url:'/admin/medias/upload',
                                data:data,
                                processData:false,
                                contentType: false,
                                success:function(data){
                                    resolve(data)
                                },
                                error:function(e,c,f){
                                    reject(c)
                                },
                                complete:function(){
                                    
                                }
                            })
                        })
                    }


                    function load_gallery(limit=20,offset=0){
                        return new Promise((resolve,reject)=>{

                            let data ={
                                limit:limit,
                                offset:offset
                            }

                            $.ajax({
                                type:"GET",
                                url:'/admin/medias',
                                headers:{"accept":"text/html"},
                                data:data,
                                success:function(data){
                                    resolve(data)
                                },
                                error:function(e,c,f){
                                    reject(c)
                                },
                                complete:function(){
                                    
                                }
                            })
                        })
                    }

                    function remove_media(media_id){
                        return new Promise((resolve,reject)=>{

                            $.ajax({
                                type:"DELETE",
                                url:'/admin/medias/'+media_id,
                                success:function(data){
                                    resolve(data)
                                },
                                error:function(e,c,f){
                                    reject(c)
                                },
                                complete:function(){
                                    
                                }
                            })
                        })
                    }

                    window.addEventListener("message",function(e){

                        if(e.origin == window.location.origin){
                            switch(e.data.action){
                                case "open":
                                    if(e.data.use_for){
                                        mediatheque_use_for = e.data.use_for
                                    }
                                    $('#myTab a[data-target="#all-media-content"]').tab('show')
                                break;

                                case "sync":
                                    $.ajax({
                                        type:"POST",
                                        url:'/admin/medias/sync',
                                        success:function(data){
                                            if(data.status){
                                                if(data.sync > 0){
                                                    load_gallery(20,0)
                                                    .then(d=>{
                                                        if(d.payload){
                                                            gallery_content.find(".content").html(d.payload);
                                                            gallery_content.addClass("loaded");
                                                        }
                                                    })
                                                }
                                            }
                                        },
                                        error:function(e,c,f){
                                            
                                        },
                                        complete:function(){
                                            
                                        }
                                    })
                                break;

                                case "close":

                                break;


                            }
                        }
                    })

                });
            </script>
        {% endblock %}

    </body>
</html>