<footer class="cpoy-right-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="social-footer">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fas fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fas fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fas fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-12 text-center">
                <p class="copyright">
                    2019 - 2020 Touts droits reservés by Art'Codin
                </p>
            </div>
        </div>
    </div>
</footer>