{% extends "base.html.jinja2" %}

{% block title %}
    PharmaBot &mdash; Accueil
{% endblock %}

{% block stylesheets %}
  {{ super() }}
{% endblock %}


{% block body %}

    <!-- slider-section-->
    <section class="slide-bg" id="home">
        <div class="animation-circle">
            <i></i>
            <i></i>
            <i></i>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex-1">
                        <div class="slide-text">
                            <div>
                                <h1>
                                    Nous vous servons le tour de gardes des pharmacies avec 
                                    <span class="main-title">  PharmaBot!</span>
                                </h1>
                                <h4>
                                    Actu santé, sondages, quizz, centre d'écoute, les professionnels de la santé se rapprochent de vous.
                                </h4>

                                <div class="slid-btn">
                                    <a href="#">
                                        <img class="img-fluid" src="{{ url_for('static', filename='messenger.png') }}" alt="messenger" data-tilt="" data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8">
                                    </a>

                                    <a href="#">
                                        <img class="img-fluid" src="{{ url_for('static', filename='whatsapp.png') }}" alt="whatsapp" data-tilt="" data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8">
                                    </a>
                                </div>

                                <span class="d-inline-block text-white fw-3 font-italic mt-3">
                                    * Disponible sur Messenger et bientôt sur Whatsapp
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="col-md-6">
                    <div class="home-right">
                        <div class="mobile-slid">
                            <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/top-mobile.png') }}" alt="top1">
                        </div>
                  
                        <div class="profile-msg">
                            <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/top2.png') }}" alt="top2">
                        </div>
                  
                        <div class="awesome">
                            <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/top3.png') }}" alt="top3">
                        </div>

                        <div class="profile-1">
                            <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/top4.png') }}" alt="top4">
                        </div>

                        <div class="emoji">
                            <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/top5.png') }}" alt="top5">
                        </div>

                        <div class="profile-2">
                            <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/top1.png') }}" alt="top1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section-->

    <!-- work section-->
    <section class="work" id="work">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <div class="section-title">
                        <h2>Comment ça marche?</h2>
                        <div class="line"></div>
                        <p>
                            
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div class="process-box">
                        <i class="fas fa-cloud-download-alt fa-5x"></i>
                        <h3>Installation</h3>
                        <p>
                            rien à installer, dans votre application messenger faites une recherche avec le mot-clé "Pharma Garde" 
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <div class="process-box">
                        <i class="fas fa-handshake fa-5x"></i>
                        <h3>Demarrer</h3>
                        <p>
                            Une fois le profil du chatbot trouvé cliques sur le bouton "Demarrer" 
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <div class="process-box">
                        <i class="fas fa-comments fa-5x"></i>
                        <h3>C'est parti</h3>
                        <p>
                            Selectionnes parmi les menu disponibles action à executer... 
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group mb-0 mt-3">
                <button class="btn-theme" type="button">
                    Essayer maintenant
                </button>
            </div>
        </div>
    </section>
    <!-- end work section-->


    <!-- Feature section-->
    <section class="theme-bg feature" id="feature">
        <div class="container">
            <div class="animation-circle-inverse">
                <i></i><i></i><i></i>
            </div>
        
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="text-white">Ce que nous offrons</h2>
                        <div class="line white"></div>
                    </div>
                </div>
          
                <div class="col-lg-4 col-sm-6">
                    <div class="future-box">
                        <div class="future-timeline">
                            <ul>
                                <li class="timeline">
                                    <h4 class="sub-title">Pharmacies de garde</h4>
                                    <p>vous êtes informé en temps réel</p>
                                </li>

                                <li class="timeline">
                                    <h4 class="sub-title">Sondages</h4>
                                    <p>Face aux questionnaires institutionnels et rigides, la discussion se positionne comme un échange ludique, user friendly et personnalisé</p>
                                </li>
                  
                                <li class="timeline">
                                    <h4 class="sub-title">Actu santé</h4>
                                    <p>recevez l'actualité local et inter</p>
                                </li>
                  
                               
                  
                                
                            </ul>
                        </div>
                    </div>
                </div>
          
                <div class="col-md-4 future-mobile">
                    <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/feature-mob.png') }}" alt="feature-mob">
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="future-box">
                        <div class="future-timeline-right">
                            <ul class="text-left">

                                <li class="timeline-right">
                                    <h4>Quizz</h4>
                                    <p>
                                       mettez à l'epreuve vos connaissances lors de nos quizz
                                    </p>
                                </li>
                                
                  
                                <li class="timeline-right">
                                    <h4>Centre d'écoute</h4>
                                    <p>
                                        Vous voulez parler a un medecin ? fini les files d'attentes, nos conseillers clientèles vous prennent en main jusqu'a l'obtention un rendez-vous.
                                    </p>
                                </li>
                
                  
                                <li class="timeline-right">
                                    <h4>Newsletter</h4>
                                    <p>Lorem Ipsum has been the industry's</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Feature section-->


    


    
    
    <!-- FAQ section-->
    <section class="theme-bg faq" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="text-white">FAQ</h2>
                        <div class="line white"></div>
                    </div>
                </div>
            </div>
        
            <div class="row faq-row">
                <div class="col-lg-6">
                    <div class="accordion" id="accordionExample">
                        <div class="card mb-3">
                            <div class="card-header" id="headingzero">
                                <h5 class="mb-0">
                                    <button class="faq-link" type="button" data-toggle="collapse" data-target="#collapsezero" aria-expanded="false" aria-controls="collapsezero">
                                        Pourquoi le sondage dans l'application
                                        <i class="fa fa-angle-down pull-right"></i>
                                    </button>
                                </h5>
                            </div>
                
                            <div class="collapse" id="collapsezero" aria-labelledby="headingzero" data-parent="#accordionExample">
                                <div class="card-body">
                                    Face aux questionnaires institutionnels et rigides, la discussion se positionne comme un échange ludique, user friendly et personnalisé. 

                                    Cela permet de créer un climat de confiance avec l’utilisateur qui ouvre la voie à des réponses sincères, pertinentes et spontanées. 


                                </div>
                            </div>
                        </div>
              

                        <div class="card mb-3">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="faq-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Question 2
                                        <i class="fa fa-angle-down pull-right"></i>
                                    </button>
                                </h5>
                            </div>

                            <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore
                                </div>
                            </div>
                        </div>
              
                        <div class="card mb-3">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="faq-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Question 3
                                        <i class="fa fa-angle-down pull-right"></i>
                                    </button>
                                </h5>
                            </div>
                            
                            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore
                                </div>
                            </div>
                        </div>
              
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="faq-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Question 4
                                        <i class="fa fa-angle-down pull-right"></i>
                                    </button>
                                </h5>
                            </div>
                            
                            <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 text-center">
                    <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/faq.png') }}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- end FAQ section-->

    <!-- footer-section-->
    <section class="contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title">
                        <h2>Nous écrire</h2>
                    </div>
            
                    <form class="auth-form">
                        <div class="form-group">
                            <label for="exampleInputName1">Nom complet</label>
                            <i class="fa fa-user"></i>
                            <input class="form-control" id="exampleInputName1" required="" name="login[username]" type="email" placeholder="Nom complet">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail12">Email</label>
                            <i class="fas fa-envelope"></i>
                            <input class="form-control" id="exampleInputEmail12" required="" name="login[email]" type="email" placeholder="Email">
                        </div>
              
                        <div class="form-group">
                            <label>Message</label>
                            <i class="fas fa-comment"></i>
                            <textarea class="form-control" id="message" name="message" cols="30" rows="10" placeholder="Votre Message"></textarea>
                        </div>
              
                        <div class="form-group mb-0">
                            <button class="btn-theme" type="submit">Envoyer le message</button>
                        </div>
                    </form>
                </div>
          

                <div class="col-md-6">
                    <div class="section-title">
                        <h2>Nos contacts</h2>
                    </div>
            
                    <p>
                        
                    </p>

                    <ul class="contact-box">
                        <li>
                            <div class="contact-circle">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                
                            <div class="contact-text">
                                <h3>Adresse géographique</h3>
                                <p>Abidjan, cocody, riviera bonoumin</p>
                            </div>
                        </li>
              
                        <li>
                            <div class="contact-circle">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                
                            <div class="contact-text">
                                <h3>Appellez-nous</h3>
                                <p>+225 71 43 94 14</p>
                            </div>
                        </li>
              
                        <li>
                            <div class="contact-circle">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                
                            <div class="contact-text">
                                <h3>Ecrivez nous à</h3>
                                <p>support@pharmabot.ci</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end footer section-->

    <!-- subscribe section-->
    <section class="subscribe-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="subscribe">
                        <h3>Abonnez-vous à la newsletter</h3>
                    </div>
                </div>
          
                <div class="col-sm-12 col-lg-8">
                    <div class="email-box">
                        <form class="auth-form needs-validation" id="mc-embedded-subscribe-form" action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda" method="post" name="mc-embedded-subscribe-form" target="_blank">
                            <input class="form-control" id="mce-EMAIL" name="EMAIL" placeholder="Votre adresse email" type="email" required="required">
                            <button class="btn btn-email" id="mc-submit" type="submit">S'abonner</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end subscribe section-->

{% endblock %}


{% block javascripts %}
  {{ super() }}
{% endblock %}