{% extends "base.html.jinja2" %}

{% block title %}
    PharmaBot &mdash; Accueil
{% endblock %}

{% block stylesheets %}
  {{ super() }}
{% endblock %}


{% block body %}

    <!-- slider-section-->
    <section class="slide-bg" id="home">
        <div class="animation-circle">
            <i></i>
            <i></i>
            <i></i>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex-1">
                        <div class="slide-text">
                            <div>
                                <h1>
                                    The best way to connect with your friends is with
                                    <span class="main-title">  ChatLoop!</span>
                                </h1>
                                <h4>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </h4>

                                <div class="slid-btn">
                                    <a href="#">
                                        <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/app1.png') }}" alt="app1" data-tilt="" data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8">
                                    </a>

                                    <a href="#">
                                        <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/app2.png') }}" alt="app2" data-tilt="" data-tilt-perspective="50" data-tilt-speed="350" data-tilt-max="1.8">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="col-md-6">
                    <div class="home-right">
                        <div class="mobile-slid">
                            <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/top-mobile.png') }}" alt="top1">
                        </div>
                  
                        <div class="profile-msg">
                            <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/top2.png') }}" alt="top2">
                        </div>
                  
                        <div class="awesome">
                            <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/top3.png') }}" alt="top3">
                        </div>

                        <div class="profile-1">
                            <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/top4.png') }}" alt="top4">
                        </div>

                        <div class="emoji">
                            <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/top5.png') }}" alt="top5">
                        </div>

                        <div class="profile-2">
                            <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/top1.png') }}" alt="top1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end slider section-->

    <!-- about section-->
    <section class="pb-0 about" id="about">
        <div class="about-chat">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="section-title">
                            <h2> About Chat Loop</h2>
                            <div class="line"></div>
                        </div>
                    </div>
            
                    <div class="col-md-12 about-box">
                        <div class="row">
                            <div class="col-lg-3 col-sm-6 about-border">
                                <div class="chat-box">
                                    <img src="{{ url_for('static', filename='site/assets/images/stay-connected.png') }}" alt="stay-connected">
                                    <h3 class="sub-title">Stay Connected</h3>
                                </div>
                            </div>
                
                            <div class="col-lg-3 col-sm-6 about-border">
                                <div class="chat-box">
                                    <img src="{{ url_for('static', filename='site/assets/images/get-notified.png') }}" alt="get-notified">
                                    <h3 class="sub-title"> Get Notified</h3>
                                </div>
                            </div>
                
                            <div class="col-lg-3 col-sm-6 about-border">
                                <div class="chat-box">
                                    <img src="{{ url_for('static', filename='site/assets/images/stay-updated.png') }}" alt="stay-updated">
                                    <h3 class="sub-title">Stay Updated</h3>
                                </div>
                            </div>
                
                            <div class="col-lg-3 col-sm-6">
                                <div class="chat-box">
                                    <img src="{{ url_for('static', filename='site/assets/images/mini-world.png') }}" alt="mini-world">
                                    <h3 class="sub-title">Mini World</h3>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="col-md-12">
                        <div class="chat-slide">
                            <h3>Connect with People all over the world , with your small device</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid text-center">
            <img class="img-fluid full-banner" src="{{ url_for('static', filename='site/assets/images/banner.png') }}" alt="banner.png">
        </div>
    </section>
    <!-- end about section-->


    <!-- Feature section-->
    <section class="theme-bg feature" id="feature">
        <div class="container">
            <div class="animation-circle-inverse">
                <i></i><i></i><i></i>
            </div>
        
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="text-white">Chat Loop Feature</h2>
                        <div class="line white"></div>
                    </div>
                </div>
          
                <div class="col-lg-4 col-sm-6">
                    <div class="future-box">
                        <div class="future-timeline">
                            <ul>
                                <li class="timeline">
                                    <h4 class="sub-title">Easy Installation</h4>
                                    <p>Lorem Ipsum has been the industry's</p>
                                </li>
                  
                                <li class="timeline">
                                    <h4 class="sub-title">Multi Platform Chat App</h4>
                                    <p>Lorem Ipsum has been the industry's</p>
                                </li>
                  
                                <li class="timeline">
                                    <h4 class="sub-title">Secure Backup & Recovery</h4>
                                    <p>Many desktop publishing packages</p>
                                </li>
                  
                                <li class="timeline">
                                    <h4 class="sub-title">Easy File Sharing</h4>
                                    <p>Lorem Ipsum has been the industry's</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
          
                <div class="col-md-4 future-mobile">
                    <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/feature-mob.png') }}" alt="feature-mob">
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="future-box">
                        <div class="future-timeline-right">
                            <ul class="text-left">
                                <li class="timeline-right">
                                    <h4>Easy Installation</h4>
                                    <p>Lorem Ipsum has been the industry's</p>
                                </li>
                  
                                <li class="timeline-right">
                                    <h4>Multi Platform Chat App</h4>
                                    <p>Lorem Ipsum has been the industry's</p>
                                </li>
                  
                                <li class="timeline-right">
                                    <h4>Secure Backup & Recovery</h4>
                                    <p>Many desktop publishing packages</p>
                                </li>
                  
                                <li class="timeline-right">
                                    <h4>Easy File Sharing</h4>
                                    <p>Lorem Ipsum has been the industry's</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Feature section-->


    <!-- work section-->
    <section class="work" id="work">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <div class="section-title">
                        <h2>How chatloop Work</h2>
                        <div class="line"></div>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati!
                            ipsum dolor sit Rem autem voluptatem obcaecati
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-lg-4 text-center">
                    <div class="process-box">
                        <h3>download app</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non nulla placeat, odio</p>
                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <div class="process-box">
                        <h3>conect people</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non nulla placeat, odio</p>
                    </div>
                </div>

                <div class="col-lg-4 text-center">
                    <div class="process-box">
                        <h3>enjoy app</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non nulla placeat, odio</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end work section-->


    <section class="theme-bg screenshots" id="screenshots">
        <div class="animation-circle"><i></i><i></i><i></i></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="text-white">Chat Loop Screen Shot</h2>
                        <div class="line white"></div>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-sm-12">
                    <div class="swiper-screenshots-container-1 swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="{{ url_for('static', filename='site/assets/images/ss/1.png') }}" alt="1">
                            </div>

                            <div class="swiper-slide">
                                <img src="{{ url_for('static', filename='site/assets/images/ss/2.png') }}" alt="2">
                            </div>

                            <div class="swiper-slide">
                                <img src="{{ url_for('static', filename='site/assets/images/ss/3.png') }}" alt="3">
                            </div>

                            <div class="swiper-slide">
                                <img src="{{ url_for('static', filename='site/assets/images/ss/4.png') }}" alt="4">
                            </div>

                            <div class="swiper-slide">
                                <img src="{{ url_for('static', filename='site/assets/images/ss/1.png') }}" alt="5">
                            </div>

                            <div class="swiper-slide">
                                <img src="{{ url_for('static', filename='site/assets/images/ss/2.png') }}" alt="5">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- FAQ section-->
    <section class="theme-bg faq" id="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="text-white">Frequently asked Question</h2>
                        <div class="line white"></div>
                    </div>
                </div>
            </div>
        
            <div class="row faq-row">
                <div class="col-lg-6">
                    <div class="accordion" id="accordionExample">
                        <div class="card mb-3">
                            <div class="card-header" id="headingzero">
                                <h5 class="mb-0">
                                    <button class="faq-link" type="button" data-toggle="collapse" data-target="#collapsezero" aria-expanded="false" aria-controls="collapsezero">
                                        01 We're ready to start now
                                        <i class="fa fa-angle-down pull-right"></i>
                                    </button>
                                </h5>
                            </div>
                
                            <div class="collapse" id="collapsezero" aria-labelledby="headingzero" data-parent="#accordionExample">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore
                                </div>
                            </div>
                        </div>
              

                        <div class="card mb-3">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="faq-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        02 Sedeiusmod tm inccsetetur ?
                                        <i class="fa fa-angle-down pull-right"></i>
                                    </button>
                                </h5>
                            </div>

                            <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore
                                </div>
                            </div>
                        </div>
              
                        <div class="card mb-3">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="faq-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        03 Sedeiusmod inc aliquatraiy?
                                        <i class="fa fa-angle-down pull-right"></i>
                                    </button>
                                </h5>
                            </div>
                            
                            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore
                                </div>
                            </div>
                        </div>
              
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="faq-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        04 Tempor inc aliquatraiy?
                                        <i class="fa fa-angle-down pull-right"></i>
                                    </button>
                                </h5>
                            </div>
                            
                            <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ei temporo incididunt ut labore et dolore magna aliqua. Ut enim ad minim exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute dolor in reprehenderit in voluptate velit esse cillum dolore
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 text-center">
                    <img class="img-fluid" src="{{ url_for('static', filename='site/assets/images/faq.png') }}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- end FAQ section-->

    <!-- footer-section-->
    <section class="contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title">
                        <h2>Get In Touch</h2>
                    </div>
            
                    <form class="auth-form">
                        <div class="form-group">
                            <label for="exampleInputName1">Name</label>
                            <i class="fa fa-user"></i>
                            <input class="form-control" id="exampleInputName1" required="" name="login[username]" type="email" placeholder="User name">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail12">Email</label>
                            <i class="fa fa-envelope-o"></i>
                            <input class="form-control" id="exampleInputEmail12" required="" name="login[email]" type="email" placeholder="Email">
                        </div>
              
                        <div class="form-group">
                            <label>Your message</label>
                            <i class="fa fa-commenting-o"></i>
                            <textarea class="form-control" id="message" name="message" cols="30" rows="10" placeholder="Your Message"></textarea>
                        </div>
              
                        <div class="form-group mb-0">
                            <button class="btn-theme" type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
          

                <div class="col-md-6">
                    <div class="section-title">
                        <h2>Contact Info</h2>
                    </div>
            
                    <p>Lorem ipsum dolor sit amet, consecte adipisicing elit sed do eiusmod tempor incididunt.</p>
                    <ul class="contact-box">
                        <li>
                            <div class="contact-circle">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                
                            <div class="contact-text">
                                <h3>Location</h3>
                                <p>123 Business Avenue, Hoston, USA</p>
                            </div>
                        </li>
              
                        <li>
                            <div class="contact-circle">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                
                            <div class="contact-text">
                                <h3>Call US</h3>
                                <p>+91 123-456-7890</p>
                            </div>
                        </li>
              
                        <li>
                            <div class="contact-circle">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                
                            <div class="contact-text">
                                <h3>Email Us</h3>
                                <p>support@gmail.com</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end footer section-->

    <!-- subscribe section-->
    <section class="subscribe-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-4">
                    <div class="subscribe">
                        <h3>Subscribe to Newsletter</h3>
                    </div>
                </div>
          
                <div class="col-sm-12 col-lg-8">
                    <div class="email-box">
                        <form class="auth-form needs-validation" id="mc-embedded-subscribe-form" action="https://pixelstrap.us19.list-manage.com/subscribe/post?u=5a128856334b598b395f1fc9b&amp;id=082f74cbda" method="post" name="mc-embedded-subscribe-form" target="_blank">
                            <input class="form-control" id="mce-EMAIL" name="EMAIL" placeholder="Your email address:" type="email" required="required">
                            <button class="btn btn-email" id="mc-submit" type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end subscribe section-->

{% endblock %}


{% block javascripts %}
  {{ super() }}
{% endblock %}