{% extends "base.html.jinja2" %}


{% block stylesheets %}
	{{ super() }}
{% endblock %}

{% block body %}
	<section class="slide-bg" id="home">
		<h3>Politique de confidentialité</h3>
	</section>
{% endblock %}

{% block javascripts %}
	{{ super() }}
{% endblock %}