{% extends 'base.html.jinja2' %}

{% block title %}
	PharmaBot &mdash; se connecter
{% endblock %}

{% block stylesheets %}
	{{ super() }}
{% endblock %}

{% block header %}  
    {% set nav_class = 'darkHeader' %}
    {% include 'header.html.jinja2' %}
{% endblock %}

{% block body %}

	<section class="auth-page">
        <div class="animation-circle-inverse"><i></i><i></i><i></i></div>
        <div class="animation-circle"><i></i><i></i><i></i></div>
        <div class="auth-card">
            <div class="text-center">
                <h2>Espace d'administration</h2>
                <div class="line"></div>
                <p>

                </p>
            </div>
        
            <div class="main">
                <form class="auth-form text-left">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <i class="fa fa-envelope"></i>
                        <input class="form-control" id="exampleInputEmail1" required="" name="_username" type="email" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <i class="fas fa-lock"></i>
                        <input class="form-control" id="exampleInputPassword1" required="" name="_password" type="password" placeholder="Password">
                    </div>
            
                    <div class="form-group">
                        <button class="btn submit" type="submit">Connexion</button>
                    </div>
            
                   
                </form>
            </div>
        </div>
    </section>


	
{% endblock %}

