{% extends 'base.html.jinja2' %}

{% block title %}
	PharmaBot &mdash; se creer un compte d'administrateur
{% endblock %}

{% block stylesheets %}
	{{ super() }}
{% endblock %}

{% block header %}  
    {% set nav_class = 'darkHeader' %}
    {% include 'header.html.jinja2' %}
{% endblock %}

{% block body %}

	<section class="auth-page">
      	<div class="animation-circle-inverse"><i></i><i></i><i></i></div>
      	<div class="animation-circle"><i></i><i></i><i></i></div>
      	<div class="auth-card">
        	<div class="text-center">
          		<h2>Ajouter un administrateur</h2>
          		<div class="line"></div>
          		{% with messages = get_flashed_messages() %}
					{% if messages %}
				    	{% for message in messages %}
					    	<div class="alert alert-danger">
					    		{{ message }}
					    	</div>
				    	{% endfor %}
				  	{% endif %}
				{% endwith %}
          		<p>
          			
          		</p>
        	</div>
        
        	<div class="main">
	          	<form method="POST" action="{{ url_for('security.register') }}" class="auth-form">
	            	<div class="form-group">
	              		<label for="exampleInputname">Nom compet</label>
	              		<i class="fa fa-user"></i>
	              		<input class="form-control" id="exampleInputname" required="" name="username" type="text" placeholder="Nom compet">
	            	</div>
	            
	            	<div class="form-group">
	              		<label for="exampleInputEmail1">Email</label>
	              		<i class="fa fa-envelope"></i>
	              		<input class="form-control" id="exampleInputEmail1" required="" name="email" type="email" placeholder="Adresse mail">
	            	</div>
	            
	            	<div class="form-group">
	              		<label for="exampleInputPassword1">Mot de passe</label>
	              		<i class="fa fa-lock"></i>
	              		<input class="form-control" id="exampleInputPassword1" required="" name="password" type="password" placeholder="Mot de passe">
	            	</div>

	            	<div class="form-group">
	              		<label for="exampleInputPassword2">Confirmation</label>
	              		<i class="fa fa-lock"></i>
	              		<input class="form-control" id="exampleInputPassword2" required="" name="cpassword" type="password" placeholder="Confirmer le mot de passe">
	            	</div>
	            
	            	<div class="form-group">
	              		<button class="btn submit" type="submit">
	              			Enregistrer
	              		</button>
	            	</div>
	          	</form>
        	</div>
      	</div>
    </section>
{% endblock %}